{% load static %}
{% load bootstrap_icons %}

<div class="container-lista">
        <h2>Exibição de modelo de e-mail</h2>
        <table class="table-filtro" align="center">
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
            <tr>
                <td>{{modelo.id}}</td>
                <td>{{modelo.nome}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th>E-mails</th>
            </tr>
            <tr>
                <td>{{modelo.emails}}</td>
            </tr>
        </table>
        <h3>Conteúdo</h3>
        <table class="exibe-query">
            <tr>
	            <td>{{modelo.conteudo|safe}}</td>
            </tr>
        </table>
        <br>

</div>
