{% load static %}
{% load bootstrap_icons %}

<header class="main-header-container">
    <div>
        <img id="logo" src="{% static 'images/copergas-sinc-sf.png' %}" style="max-height: 75px;" alt="logo-coper">
    </div>

    <table class="menu">
        <tr>
            <td><a href="{% url 'relatorio_proximas' %}">Relatórios</a></td>
            <td><a href="{% url 'modelos' %}">Modelos</a></td>
            <td><a href="{% url 'historico_logins' %}">Sessões</a></td>
            <td><a href="{% url 'sobre' %}">Sobre</a></td>
        </tr>
    </table>

    <div id="logout">
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</header>