{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link ref="preconnect" href="http://fonts.googleapis.com">
    <link ref="preconnect" href="http://fonts.gstatic.com" crossorigin>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" sizes="16x16" href="{% static 'favicon-16x16.png' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script src="{% static 'js/datatables_portugues.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "searching": true,
                "language": portugueseTranslations
            });
        });
    </script>

    <script>
        $(function() {
            // Initialize datepicker
            $("#data1").datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });

        $(function() {
            // Initialize datepicker
            $("#data2").datepicker({
                dateFormat: 'dd/mm/yy',
            });
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the form elements
        var formProximas = document.getElementById('proximas');
        var formVencidas = document.getElementById('vencidas');

        // Attach event listener to the "Simular envio" button in the form with ID "proximas"
        formProximas.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            submitForm('{% url "teste_envio_proximas" %}'); // Call the function to submit the form
        });

        // Attach event listener to the "Simular envio" button in the form with ID "vencidas"
        formVencidas.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission
            submitForm('{% url "teste_envio_vencidas" %}'); // Call the function to submit the form
        });

        // Define the function to submit the form
        function submitForm(url) {
            window.location.href = url; // Redirect to the generated URL
        }
    });
</script>

    <title>SINC</title>

</head>
