{% load static %}
{% load bootstrap_icons %}

<header class="main-header-container">
    <table align="center" width="80%">
        <tr>
            <td>
                <table class="logo" align="right">
                    <tr>
                        <td style="text-align: right;">
                            <div class="container-footer">
                                <img src="{% static 'images/copergas-sinc-sf.png' %}" height="50px"
                                    alt="logo-coper">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td align="center" style="padding-left: 10px;">
                <table class="menu" align="center">
                    <tr>
                        <td><a href="{% url 'queries' %}">Queries</a></td>
                        <td><a href="{% url 'sobre' %}">Sobre</a></td>
                    </tr>
                </table>
            </td>
            <td align="right" style="text-align: right;">
                <a href="{% url 'logout' %}">Logout</a>
            </td>
        </tr>
    </table>
</header>
