{% load static %}
{% load bootstrap_icons %}

<header class="main-header-container">
    <div>
        <img id="logo" src="{% static 'images/copergas-sinc-sf.png' %}" style="max-height: 75px;" alt="logo-coper">
    </div>

    <table class="menu">
        <tr>
            <td><a href="{% url 'home' %}">{% bs_icon 'house' color='white' %} Home</a></td>
            <td><a href="{% url 'relatorio_proximas' %}">{% bs_icon 'card-list' color='white' %} Relatórios</a></td>
            <td><a href="{% url 'modelos' %}">Modelos</a></td>
            <td><a href="{% url 'historico_logins' %}">{% bs_icon 'people-fill' color='white' %} Sessões</a></td>
            <td><a href="{% url 'sobre' %}">Sobre</a></td>
        </tr>
    </table>

    <div id="logout">
        <a href="{% url 'logout' %}">{% bs_icon 'arrow-90deg-left' color='red' %} Logout</a>
    </div>
</header>