{% load static %}
{% load bootstrap_icons %}

<div class="container-lista">
    <h2>Incluir modelo de e-mail</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table-filtro" align="center">
            <tr>
                <td>Nome</td>
                <td>{{form.nome}}</td>
            </tr>
            <tr>
                <td>Endereços de e-mail que receberão avisos</td>
                <td>
                    <input type="text" id="emailInput">
                    <button class="btn btn-primary" type="button" id="addEmailBtn">Adicionar</button>
                </td>
            </tr>
        </table>
        <table class="table-filtro" align="center">
            <tr>
                <td>{{form.conteudo}}</td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Adicionar</button>
    </form>

    <div id="emailList">
        <!-- Display added emails here -->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const emailInput = document.getElementById("emailInput");
        const addEmailBtn = document.getElementById("addEmailBtn");
        const emailList = document.getElementById("emailList");

        addEmailBtn.addEventListener("click", function() {
            const email = emailInput.value.trim();
            if (email !== "") {
                const emailItem = document.createElement("div");
                emailItem.textContent = email;
                emailList.appendChild(emailItem);
                emailInput.value = "";
            }
        });
    });
</script>
