{% load static %}
{% load bootstrap_icons %}

<div class="container-lista">

    <table id="datatable">
        <tr>
            <th>CONTRATO</th>
            <th>TÍTULO</th>
            <th>E-MAIL</th>
            <th>DATA</th>
            <th>STATUS</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.MATRICULA }}</td>
            <td>{{ cliente.TITULO }}</td>
            <td>{{ cliente.EMAIL }}</td>
            <td>{{ cliente.DATA }}</td>
            <td>{{ cliente.STATUS }}</td>
        </tr>
        {% endfor %}
    </table>


</div>