<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

		<style type="text/css">

	
			</style>

	<head>
		<link rel="stylesheet" href="scss/style_email.css">
		<!-- If you delete this meta tag, the ground will open and swallow you. -->
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>E-mail Aptos para Corte</title>

	</head>
 
	<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

		<!-- HEADER -->
		<table class="head-wrap" bgcolor="#083484">
			<tr>
				<td></td>
				<td class="header container" align="center">
					
					<!-- /content -->
					<div class="content">
						<table bgcolor="#FFFFFF" >
							<tr>
								<td style="
								    font-size: 400%;
								    margin: 0px;
								    padding: 0pc;
								    color: #083484;
								    font-weight: normal;
								">SiNC</td>
								<td><h3>Clientes aptos para corte</h3></td>
							</tr>
						</table>
					</div>
					<!-- /content -->
					
				</td>
				<td></td>
			</tr>
		</table>
		<!-- /HEADER -->

		<table class="body-wrap" bgcolor="">
			<tr>
				<td></td>
				<td class="container" align="" bgcolor="#FFFFFF">
					
					<!-- content texto -->
					<div class="content">
						<table>
							<tr>
								<td>
									<p class="lead">
										Abaixo seguem os clientes que receberam o aviso de débito com prévia suspensão e ainda não efetuaram o pagamento do(s) título(s) vencido(s).
									</p>
								</td>
							</tr>
						</table>
					</div>
					<!-- /content texto -->
					<!-- content tabela -->
					<div class="content">
						<table>
							<tr>
								<td>
									<table class="tableClientes">
										<tr>
											<th> Lista dos Inadimplentes </th>
										</tr>
										{% for inadimplente in inadimplentes %}
											<tr>
								                <td> {{ inadimplente.imovel }} ( {{ inadimplente.nomecliente }} ) NFE {{ inadimplente.titulo }}, VENC. {{ inadimplente.vencimentotitulo }}, VALOR R$ {{ inadimplente.valortitulo }} </td>
											</tr>
										{% endfor %}
									</table>
								</td>
							</tr>
						</table>
					</div><!-- /content tabela -->
				</td>
				<td></td>
			</tr>
		</table>

	</body>

</html>