<div style="margin-top:0pt;">


	<div style="margin-top: 0pt; margin-bottom: 0pt; text-align: right; font-size: 8pt;"><span style="font-family: 'Arial Narrow';"><img style="margin-right: 9pt; margin-left: 9pt;" src="cid:myimagecid2" alt="Descri&ccedil;&atilde;o: Logomarca" width="167" height="80" align="left" />Av. Conselheiro Aguiar,  nº 1748 <br />
			Boa Viagem  –  Recife  –  PE  –  51111-010
		</p>
		<p  style="margin-top:-8pt; text-align:right;font-family:'Arial Narrow'; font-size:8pt; color:#0000ff";>
			<a href="http://www.copergas.com.br" > 
				www.copergas.com.br
			</a>
		</p>
		<p style="margin-top:15pt; margin-bottom:0pt; text-align:right; font-family:Arial; font-size:8pt">
			Recife, {{DATA_EXTENSA}}
		</p>
</div>
<div style=" margin-bottom:5pt">
	<p style="margin-top:20pt; margin-left:10pt; margin-bottom:0pt; font-size:9pt; font-family:Arial">
		<br>Ao
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			{{NOME_CLIENTE}} <br />
			{{ENDERECO}}, {{NUMERO}}
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			<u>
				Ref.: Fatura Próxima a Vencer
			</u>
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Prezado usuário, <br />
		Em nossos registros identificamos o(s) seguinte(s) título(s) próximo(s) do vencimento:
	</p>
	
	<div style=" text-align:left">
				<table cellspacing="0" cellpadding="0" style="margin-top:20pt; margin-left:10pt; border-collapse:collapse">
					<tr>
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota Fiscal /</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota de Débito</span></strong>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Data de</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Vencimento</span></strong>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Valor Principal </span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">(em R$)</span></strong>
							</p>
						</td>
					</tr>
					<tr style="height:17pt">
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{TITULO}}</span>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{DATA_VENCIMENTO_FATURA}}</span>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">R$ {{VALOR_FATURA}}</span>
							</p>
						</td>
					</tr>
					
				</table>
			</div>
	
	<ol type="i" style="margin-top: 20pt; padding-left:0pt">
		<li style="margin-left:27.5pt; padding-left:26.5pt; font-family:Arial; font-size:9pt">
			Para gerar a 2ª via automaticamente, <strong><em><u>clique</u></em></strong> na imagem abaixo:
		</li>
		<table>
			<tr>
				<td style="padding-left: 70pt;">
		<a href="https://www.copergas.com.br/api_boleto/boleto.php?id_contrato={{MATRICULA}}&id_boleto={{BOLETO}}" target="_blank" > <img src="cid:myimagecid3" width="103" height="55" alt="" style="margin-top: 30pt;">
		</a>
		</td>
		</tr>
		</table>
		<li style="margin-top: 20pt; margin-bottom: 5pt; margin-left:29.5pt; padding-left:24.5pt; font-family:Arial; font-size:9pt">
			Caso prefira gerar a 2ª via manualmente pelo site da Copergás, siga o procedimento abaixo:
		</li>	
	</ol>
	<div style="margin-top: 20pt;">
		<table cellspacing="0" cellpadding="0" style="margin-left:26.7pt; border:1pt solid #000000; border-collapse:collapse">
			<tr>
				<td style="width:353.3pt; padding-right:3.9pt; padding-left:3.9pt; vertical-align:top">
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:12pt">
						<span style="height:0pt; text-align:left; display:block; position:absolute; z-index:1"></span><span style="font-family:Arial; font-size:8pt">1.</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Acesse: </span><a href="http://www.copergas.com.br/" style="text-decoration:none"><u><span style="font-family:Arial; font-size:8pt; color:#0000ff">http://www.copergas.com.br/</span></u></a>
					</p>
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:8pt">
						<span style="font-family:Arial">2.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial">Clicar na imagem “2ª VIA”. </span><img src="cid:myimagecid4" width="36" height="34" alt="">
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">3.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha o “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">”.</span>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">4.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">O seu “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">” é </span><u><span style="font-family:'Times New Roman'; ">{{MATRICULA}}.</span></u>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">5.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha os “</span><strong><span style="font-family:Arial; font-size:8pt; ">Caracteres da imagem - </span></strong><strong><em><span style="font-family:Calibri; ">Captcha</span></em></strong><span style="font-family:Arial; font-size:8pt">”</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
	
	<p style="margin-top:20pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Antecipamos nossos agradecimentos pela compreensão e atenção.
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Atenciosamente:
	</p>
</div>
<div>
	<p style="margin-top:0pt; margin-left:10pt; text-align:left; font-family:Arial; font-size:11pt">
		<strong>
		SAC COPERGÁS <br />
		0800 281 2002
		</strong>
	</p>
</div>

<div style="margin-top:0pt;">


	<div style="margin-top: 0pt; margin-bottom: 0pt; text-align: right; font-size: 8pt;"><span style="font-family: 'Arial Narrow';"><img style="margin-right: 9pt; margin-left: 9pt;" src="cid:myimagecid2" alt="Descri&ccedil;&atilde;o: Logomarca" width="167" height="80" align="left" />Av. Conselheiro Aguiar,  nº 1748 <br />
			Boa Viagem  –  Recife  –  PE  –  51111-010
		</p>
		<p  style="margin-top:-8pt; text-align:right;font-family:'Arial Narrow'; font-size:8pt; color:#0000ff";>
			<a href="http://www.copergas.com.br" > 
				www.copergas.com.br
			</a>
		</p>
		<p style="margin-top:15pt; margin-bottom:0pt; text-align:right; font-family:Arial; font-size:8pt">
			Recife, {{DATA_EXTENSA}}
		</p>
</div>
<div style=" margin-bottom:5pt">
	<p style="margin-top:20pt; margin-left:10pt; margin-bottom:0pt; font-size:9pt; font-family:Arial">
		<br>Ao
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			{{NOME_CLIENTE}} <br />
			{{ENDERECO}}, {{NUMERO}}
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			<u>
				Ref.: Fatura Vencida
			</u>
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Prezado usuário, <br />
		Em nossos registros identificamos o(s) seguinte(s) título(s) em atraso, este(s) sob V.S.a responsabilidade:
	</p>
	
	<div style=" text-align:left">
				<table cellspacing="0" cellpadding="0" style="margin-top:20pt; margin-left:10pt; border-collapse:collapse">
					<tr>
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota Fiscal /</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota de Débito</span></strong>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Data de</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Vencimento</span></strong>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Valor Principal </span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">(em R$)</span></strong>
							</p>
						</td>
					</tr>
					<tr style="height:17pt">
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{TITULO}}</span>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{DATA_VENCIMENTO_FATURA}}</span>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">R$ {{VALOR_FATURA}}</span>
							</p>
						</td>
					</tr>
					
				</table>
			</div>
	
	<ol type="i" style="margin-top: 20pt; padding-left:0pt">
		<li style="margin-left:27.5pt; padding-left:26.5pt; font-family:Arial; font-size:9pt">
			Para gerar a 2ª via automaticamente, <strong><em><u>clique</u></em></strong> na imagem abaixo:
		</li>
		<table>
			<tr>
				<td style="padding-left: 70pt;">
		<a href="https://www.copergas.com.br/api_boleto/boleto.php?id_contrato={{MATRICULA}}&id_boleto={{BOLETO}}" target="_blank" > <img src="cid:myimagecid3" width="103" height="55" alt="" style="margin-top: 30pt;">
		</a>
		</td>
		</tr>
		</table>
		<li style="margin-top: 20pt; margin-bottom: 5pt; margin-left:29.5pt; padding-left:24.5pt; font-family:Arial; font-size:9pt">
			Caso prefira gerar a 2ª via manualmente pelo site da Copergás, siga o procedimento abaixo:
		</li>	
	</ol>
	<div style="margin-top: 20pt;">
		<table cellspacing="0" cellpadding="0" style="margin-left:26.7pt; border:1pt solid #000000; border-collapse:collapse">
			<tr>
				<td style="width:353.3pt; padding-right:3.9pt; padding-left:3.9pt; vertical-align:top">
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:12pt">
						<span style="height:0pt; text-align:left; display:block; position:absolute; z-index:1"></span><span style="font-family:Arial; font-size:8pt">1.</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Acesse: </span><a href="http://www.copergas.com.br/" style="text-decoration:none"><u><span style="font-family:Arial; font-size:8pt; color:#0000ff">http://www.copergas.com.br/</span></u></a>
					</p>
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:8pt">
						<span style="font-family:Arial">2.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial">Clicar na imagem “2ª VIA”. </span><img src="cid:myimagecid4" width="36" height="34" alt="">
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">3.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha o “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">”.</span>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">4.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">O seu “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">” é </span><u><span style="font-family:'Times New Roman'; ">{{MATRICULA}}.</span></u>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">5.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha os “</span><strong><span style="font-family:Arial; font-size:8pt; ">Caracteres da imagem - </span></strong><strong><em><span style="font-family:Calibri; ">Captcha</span></em></strong><span style="font-family:Arial; font-size:8pt">”</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
	
	<p style="margin-top:20pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Antecipamos nossos agradecimentos pela compreensão e atenção.
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Atenciosamente:
	</p>
</div>
<div>
	<p style="margin-top:0pt; margin-left:10pt; text-align:left; font-family:Arial; font-size:11pt">
		<strong>
		SAC COPERGÁS <br />
		0800 281 2002
		</strong>
	</p>
</div>

<div style="margin-top:0pt;">


	<div style="margin-top: 0pt; margin-bottom: 0pt; text-align: right; font-size: 8pt;"><span style="font-family: 'Arial Narrow';"><img style="margin-right: 9pt; margin-left: 9pt;" src="cid:myimagecid2" alt="Descri&ccedil;&atilde;o: Logomarca" width="167" height="80" align="left" />Av. Conselheiro Aguiar,  nº 1748 <br />
			Boa Viagem  –  Recife  –  PE  –  51111-010
		</p>
		<p  style="margin-top:-8pt; text-align:right;font-family:'Arial Narrow'; font-size:8pt; color:#0000ff";>
			<a href="http://www.copergas.com.br" > 
				www.copergas.com.br
			</a>
		</p>
		<p style="margin-top:15pt; margin-bottom:0pt; text-align:right; font-family:Arial; font-size:8pt">
			Recife, {{DATA_EXTENSA}}
		</p>
</div>
<div style=" margin-bottom:5pt">
	<p style="margin-top:20pt; margin-left:10pt; margin-bottom:0pt; font-size:9pt; font-family:Arial">
		<br>Ao
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			{{NOME_CLIENTE}} <br />
			{{ENDERECO}}, {{NUMERO}}
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:10pt; font-family:Arial;">
		<strong>
			<u>
				Ref.: Aviso de Suspensão
			</u>
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Prezado usuário, <br />
		Em nossos registros identificamos o(s) seguinte(s) título(s) em atraso, este(s) sob V.S.a responsabilidade:
	</p>
	
	<div style=" text-align:left">
				<table cellspacing="0" cellpadding="0" style="margin-top:20pt; margin-left:10pt; border-collapse:collapse">
					<tr>
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota Fiscal /</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Nota de Débito</span></strong>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Data de</span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Vencimento</span></strong>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:top; background-color:#d9d9d9">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">Valor Principal </span></strong>
							</p>
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:9pt">
								<strong><span style="font-family:Arial; ">(em R$)</span></strong>
							</p>
						</td>
					</tr>
					<tr style="height:17pt">
						<td style="width:81.15pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{TITULO}}</span>
							</p>
						</td>
						<td style="width:101.4pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">{{DATA_VENCIMENTO_FATURA}}</span>
							</p>
						</td>
						<td style="width:72.9pt; padding-right:5.4pt; padding-left:5.4pt; vertical-align:middle">
							<p style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:10pt">
								<span style="font-family:Arial">R$ {{VALOR_FATURA}}</span>
							</p>
						</td>
					</tr>
					
				</table>
			</div>
	
	<ol type="i" style="margin-top: 20pt; padding-left:0pt">
		<li style="margin-left:27.5pt; padding-left:26.5pt; font-family:Arial; font-size:9pt">
			Para gerar a 2ª via automaticamente, <strong><em><u>clique</u></em></strong> na imagem abaixo:
		</li>
		<table>
			<tr>
				<td style="padding-left: 70pt;">
		<a href="https://www.copergas.com.br/api_boleto/boleto.php?id_contrato={{MATRICULA}}&id_boleto={{BOLETO}}" target="_blank" > <img src="cid:myimagecid3" width="103" height="55" alt="" style="margin-top: 30pt;">
		</a>
		</td>
		</tr>
		</table>
		<li style="margin-top: 20pt; margin-bottom: 5pt; margin-left:29.5pt; padding-left:24.5pt; font-family:Arial; font-size:9pt">
			Caso prefira gerar a 2ª via manualmente pelo site da Copergás, siga o procedimento abaixo:
		</li>	
	</ol>
	<div style="margin-top: 20pt;">
		<table cellspacing="0" cellpadding="0" style="margin-left:26.7pt; border:1pt solid #000000; border-collapse:collapse">
			<tr>
				<td style="width:353.3pt; padding-right:3.9pt; padding-left:3.9pt; vertical-align:top">
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:12pt">
						<span style="height:0pt; text-align:left; display:block; position:absolute; z-index:1"></span><span style="font-family:Arial; font-size:8pt">1.</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:7pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Acesse: </span><a href="http://www.copergas.com.br/" style="text-decoration:none"><u><span style="font-family:Arial; font-size:8pt; color:#0000ff">http://www.copergas.com.br/</span></u></a>
					</p>
					<p style="margin-top:5pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:8pt">
						<span style="font-family:Arial">2.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial">Clicar na imagem “2ª VIA”. </span><img src="cid:myimagecid4" width="36" height="34" alt="">
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">3.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha o “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">”.</span>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:14pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">4.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">O seu “</span><strong><span style="font-family:Calibri; ">Número do Contrato</span></strong><span style="font-family:Arial; font-size:8pt">” é </span><u><span style="font-family:'Times New Roman'; ">{{MATRICULA}}.</span></u>
					</p>
					<p style="margin-top:14pt; margin-left:31.15pt; margin-bottom:5pt; text-indent:-17.85pt; text-align:justify; line-height:120%; font-size:10pt">
						<span style="font-family:Arial; font-size:8pt">5.</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'; font-size:5pt">&#xa0;</span><span style="font-family:'Times New Roman'"> </span><span style="font-family:Arial; font-size:8pt">Preencha os “</span><strong><span style="font-family:Arial; font-size:8pt; ">Caracteres da imagem - </span></strong><strong><em><span style="font-family:Calibri; ">Captcha</span></em></strong><span style="font-family:Arial; font-size:8pt">”</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
	
	<p style="margin-top:20pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Caso o referido débito já tenha sido quitado ao tempo do recebimento desta, favor desconsiderar essa notificação.
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		<strong>
			Informamos que, permanecendo a pendência de pagamento, solicitamos a sua regularização na maior brevidade possível, sob pena de suspensão do fornecimento de Gás em 72 (setenta e duas) horas a contar do recebimento deste aviso.
		</strong>
	</p>
	<p style="margin-top:0pt; margin-left:10pt; font-size:9pt; font-family:Arial">
		Atenciosamente:
	</p>
</div>
<div>
	<p style="margin-top:0pt; margin-left:10pt; text-align:left; font-family:Arial; font-size:11pt">
		<strong>
		SAC COPERGÁS <br />
		0800 281 2002
		</strong>
	</p>
</div>
